## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Context auxiliary files:
*.tuc

## songs indexes
*.sxd
*.sbx
*.sxc

# temporary directory used when compiling
temp/

# deployment directory (also a symlink)
deploy/
deploy

# unilaiva VM's shared deploy directory
deploy_from_vm/
deploy_from_vm

# local directory to keep old print versions
old_versions/
old_versions

# result documents
*.pdf
!ext_packages/songs/songs.pdf
!content/img/*.pdf

# other
old
*~
*.backup
*.kate-swp
.~lock.*
.directory
