## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Context auxiliary files:
*.tuc

## songs indexes
*.sxd
*.sbx
*.sxc

# binary directory
ext_packages/bin/

# temporary directory used in compilation
compile_temp/

# deployment directory (also a symlink)
deploy/
deploy

# result documents
wisdom-songbook.pdf
*.pdf

# other
old
*~
*.backup
*.kate-swp
.~lock.*
.directory
