## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Context auxiliary files:
*.tuc

## songs indexes
*.sxd
*.sbx
*.sxc

# temporary directory used when compiling
temp/
# the old temporary directory, not used anymore
compile_temp/

# deployment directory (also a symlink)
deploy/
deploy

# result documents
*.pdf

# other
old
*~
*.backup
*.kate-swp
.~lock.*
.directory
